services/HeaderExtnAttribService/xsd3.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:base="http://mock.service.com/types/base" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://mock.service.com/types/extn">
    <xs:import namespace="http://mock.service.com/types/base" schemaLocation="xsd2.xsd"/>
    <xs:complexType name="CustomHeader">
        <xs:complexContent>
            <xs:extension base="base:recordType">
                <xs:attribute type="xs:string" name="name"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CustomRequest">
        <xs:complexContent>
            <xs:extension base="base:recordType">
                <xs:attribute type="xs:string" name="name"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CustomResponse">
        <xs:complexContent>
            <xs:extension base="base:recordType">
                <xs:attribute type="xs:string" name="name"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
